@import url('https://fonts.googleapis.com/css2?family=Mina&family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mina&family=Montserrat:wght@200&family=Rubik+Moonrocks&display=swap');

#root{
  padding: 0;
  margin: 0;
}

*{
  box-sizing: border-box;
  font-family: 'Mina', sans-serif;
}

html{
  max-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  max-height: 100vh;

  overflow: hidden;
}

button{
  width: 100px;
  height: 20px;
  border:none;
  color:black
}

.header{
  grid-row: 1;
  grid-column: 2;

  font-family: 'Rubik Moonrocks', cursive;
  color: white;

  font-size: 40px;
  z-index: 0;
  width: 100%;
}

.overlay{
  box-sizing: border-box;
  position: absolute;
  pointer-events: none;
  width: 100vw;
  height: 100%;

  display:grid;
  grid-template-columns: 1fr 3fr 1fr;

  grid-template-rows: auto;
  align-content: space-around; 
  justify-items: stretch;
  align-items: center;

  grid-template-rows: auto; 
}

.overlayButton{
  display: block;

  width: 100px;
  height: 40px;

  background-color: #4a7fc560;
  border: 1px solid #00eeff;
  color:#fff;
  border-radius: 5px;

  grid-row: 3;
  grid-column: 3;
}

.dateSlider{
  grid-row: 5;
  grid-column: 2;
  color: white;
}

.dateControls{
  grid-row: 3;
  grid-column: 1;
}

.tooltip{
  position: absolute;
  text-align: justify;
  
  padding:10px 20px;
  margin: 10px;
  background-color: #4a7fc560;
  border: 1px solid #00eeff;
  color:#fff;
  border-radius: 5px;
}

.overlay > button{
  z-index: 1;
}

.overlay > *{
  pointer-events: all;
}

.white{
  color: #fff;
  background: #0000;

  height: auto;
}

.dateSliderSpans{
  width: 100%;
  display: flex;
  justify-content: space-between;
}